<app-panel [name]="namePanel">
  <ul class="chat">
    <li class="clearfix">
      <div class="text-center">
        <div class="header">
          <small class="text-muted">
            <i class="fa fa-clock-o fa-fw"></i> 08/11/2018 - 17:00 (D)
          </small>
        </div>
        <span class="chat-img">
          <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
          2 X 2
          <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
        </span>
        <strong class="text-center primary-font">Pacaembú</strong>
      </div>
    </li>
    <li class="clearfix">
      <div class="text-center">
        <div class="header">
          <small class="text-muted">
            <i class="fa fa-clock-o fa-fw"></i> 08/11/2018 - 17:00 (D)
          </small>
        </div>
        <span class="chat-img">
                  <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                  2 X 2
                  <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
              </span>
        <strong class="text-center primary-font">Pacaembú</strong>
      </div>
    </li>
    <li class="clearfix">
      <div class="text-center">
        <div class="header">
          <small class="text-muted">
            <i class="fa fa-clock-o fa-fw"></i> 08/11/2018 - 17:00 (D)
          </small>
        </div>
        <span class="chat-img">
                  <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                  2 X 2
                  <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
              </span>
        <strong class="text-center primary-font">Pacaembú</strong>
      </div>
    </li>
    <li class="clearfix">
      <div class="text-center">
        <div class="header">
          <small class="text-muted">
            <i class="fa fa-clock-o fa-fw"></i> 08/11/2018 - 17:00 (D)
          </small>
        </div>
        <span class="chat-img">
                  <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                  2 X 2
                  <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
              </span>
        <strong class="text-center primary-font">Pacaembú</strong>
      </div>
    </li>
  </ul>
</app-panel>
